@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
  background: #f3f6fb;
}

app-root {
  display: block;
  height: 100%;
}
